<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Repository')}"></head>

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title">
                            <span>Github for [</span>
                            <span th:text="${user}"></span>
                            <span>]</span>
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/repositories">repositories</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/invitations">invitations</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>